# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Poetry
poetry.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env

# dbt
target/
dbt_packages/
logs/

# Book PDF/ePub in docs/ — do not commit copyrighted material
docs/*.pdf
docs/*.epub
